.header {
    font-family: "rubik";
    font-weight: 500;
    color: var(--VeryDarkBlue);
}

.primary {
    font-size: 2rem;
}
.secondary {
    font-size: 1.5rem;
}

.third {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
