.paragraph {
    font-family: "rubik";
    font-weight: 400;
    color: var(--GrayishBlue);
}

.primary {
    font-size: 1rem;
    margin-top: 40px;
}

.secondary {
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.third {
    font-size: 0.7rem;
}
